.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 16px 0;
  width: 294px;
}

/* media queries */
@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    width: 189px;
    margin: 0;
  }
}
